extends layout

block content
    div(class='banner')
      block banner  
        img(src='/images/account-banner.png' alt='account banner' class='banner')

    div.text-center
        form(class="form-signin" method="POST" action="/users/update")
            #error
                if error
                    p.text-danger error

            if session.user_id
                h2(class="color-prompt") Account Settings

                //-input first name
                label( for="inputFirstName" class="sr-only") First Name
                input(type="fname" name="firstName" id="inputFirstName" class="form-control" placeholder="First Name" autofocus)

                //-input last name
                label( for="inputLastName" class="sr-only") Last Name
                input(type="lname" name="lastName" id="inputLastName" class="form-control" placeholder="Last Name")

                //-input email
                label( for="inputEmail" class="sr-only") Email address
                input(type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address")

                //-input username
                label( for="inputUsername" class="sr-only") Username
                input(type="username" name="username" id="inputUsername" class="form-control" placeholder="Username")

                //-input password
                label( for="inputPassword" class="sr-only") Password
                input(type="password" name="password" id="inputPassword" class="form-control" placeholder="Password")

                //-input Verify password
                label(for="inputVPassword" class="sr-only") Verify Password
                input(type="vPassword" name="vPassword" id="inputVPassword" class="form-control" placeholder="Verify Password")

                //-update button
                button(class='button-style' type="submit") Update

                //- - var pClasses=['mt-5', 'mb-3', 'text-muted'];
                //- p(class=pClasses) &copy; 2017-2018
            else        
              h2(class='color-prompt') Please sign in to access your account
              a(href='/signin' class='link-style') Sign in


