extends layout

block content
    div(class='banner')
      block banner  
        img(src='/images/home-banner.png' alt='welcome banner' class='banner')
    p.text-center=notification

    div.text-center
      h1(class='color-prompt') What is ColorVIBES?
      h2(class='color-prompt-two') ColorVIBES is a website where you can compare your daily emotion with other users on the platform. Users will be able to check the most popular emotion of the previous month to see how the emotions of the user base fluctuated. Users will have the opportunity to check the emotions of users during huge world events. For example, if a pandemic happens where everyone's life is thrown for a loop, users will be able to find their own trends in the change of user's emotions!
      if session.user_id
        h1(class='color-prompt') What color best matches your mood today?
        h2(class='color-prompt-two') Below there are five choices to choose from. Select the color that best matches your mood today. Click on a color to see it's description. Click submit when you are sure about your color choice!

        form(method='POST' action='/users/updatecolor')
          div(class='color-buttons')
            div(class='accordion-div')
              div(class='two-row')
                div(class='color-window inline')
                  div(class='accordion selected choice-red')
                    img(src='images/red.png' class='avatar')
                  div(class='panel')
                    span(class='red') Red
                    p You are feeling agitated. You are angry and in a bad mood!
                  input(type='radio' id='red' name='colorSelection' value='red')

                div(class='color-window inline')
                  div(class='accordion selected choice-blue')
                    img(src='images/blue.png' class='avatar')
                  div(class='panel') 
                    span(class='blue') Blue
                    p You are feeling sad. Times are tough and you are searching for the light at the end of the tunnel...
                  input(type='radio' id='blue' name='colorSelection' value='blue')
              div(class='two-row')
                div(class='color-window inline')
                  div(class='accordion selected choice-green')
                    img(src='images/green.png' class='avatar')
                  div(class='panel')
                    span(class='green') Green
                    p You are feeling stressed. It feels like there are a million things on your plate and you are just overwhelmed!
                  input(type='radio' id='green' name='colorSelection' value='green')

                div(class='color-window inline')
                  div(class='accordion selected choice-purple')
                    img(src='images/purple.png' class='avatar')
                  div(class='panel') 
                    span(class='purple') Purple
                    p You are feeling mellow and calm. There is nothing that is worrying you and you are in a state of relaxation!
                  input(type='radio' id='purple' name='colorSelection' value='purple')

              div(class='two-row')
                div(class='color-window inline')
                  div(class='accordion selected choice-yellow')
                    img(src='images/yellow.png' class='avatar')
                  div(class='panel')
                    span(class='yellow') Yellow
                    p You are feeling happy! Nothing can get in your way!
                  input(type='radio' id='yellow' name='colorSelection' value='yellow')

              //- Submit Button
              button(type="submit" class='button-style') Submit!

      div(class='past-colors')
        h1(class='color-prompt') Most popular moods
        h2(class='color-prompt-two') See the most popular chosen mood colors over the past 30 days!
        h3(class='color-prompt-two') Note: Red represents anger, Blue represents sadness, Green represents feeling stressed, Purple represents feeling mellow, and Yellow represents happiness.

        table(class='center-table')
          tr(class='week')
            td(class='day') #{moment().format('MM/DD')}
            td(class='day') #{moment().subtract(1, 'days').format('MM/DD')}
            td(class='day') #{moment().subtract(2, 'days').format('MM/DD')}
            td(class='day') #{moment().subtract(3, 'days').format('MM/DD')}
            td(class='day') #{moment().subtract(4, 'days').format('MM/DD')}
            td(class='day') #{moment().subtract(5, 'days').format('MM/DD')}
          tr(class='week')
            td(class='day') #{moment().subtract(6, 'days').format('MM/DD')}
            td(class='day') #{moment().subtract(7, 'days').format('MM/DD')}
            td(class='day') #{moment().subtract(8, 'days').format('MM/DD')}
            td(class='day') #{moment().subtract(9, 'days').format('MM/DD')}
            td(class='day') #{moment().subtract(10, 'days').format('MM/DD')}
            td(class='day') #{moment().subtract(11, 'days').format('MM/DD')}
          tr(class='week')
            td(class='day') #{moment().subtract(12, 'days').format('MM/DD')}
            td(class='day') #{moment().subtract(13, 'days').format('MM/DD')}
            td(class='day') #{moment().subtract(14, 'days').format('MM/DD')}
            td(class='day') #{moment().subtract(15, 'days').format('MM/DD')}
            td(class='day') #{moment().subtract(16, 'days').format('MM/DD')}
            td(class='day') #{moment().subtract(17, 'days').format('MM/DD')}
          tr(class='week')
            td(class='day') #{moment().subtract(18, 'days').format('MM/DD')}
            td(class='day') #{moment().subtract(19, 'days').format('MM/DD')}
            td(class='day') #{moment().subtract(20, 'days').format('MM/DD')} 
            td(class='day') #{moment().subtract(21, 'days').format('MM/DD')}
            td(class='day') #{moment().subtract(22, 'days').format('MM/DD')}
            td(class='day') #{moment().subtract(23, 'days').format('MM/DD')} 
          tr(class='week')
            td(class='day') #{moment().subtract(24, 'days').format('MM/DD')}
            td(class='day') #{moment().subtract(25, 'days').format('MM/DD')}
            td(class='day') #{moment().subtract(26, 'days').format('MM/DD')}
            td(class='day') #{moment().subtract(27, 'days').format('MM/DD')}
            td(class='day') #{moment().subtract(28, 'days').format('MM/DD')}
            td(class='day') #{moment().subtract(29, 'days').format('MM/DD')}


    script(type='text/javascript').
      var local_data = !{JSON.stringify(colors)};
      var userColor = !{JSON.stringify(currentColor)};
    script(src='scripts/home.js') 

