doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css", integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z", crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js", integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='shortcut icon' type='image/jpg' href='/images/icon-opt-one.png')
  body 

  div(class='topnav')
      a(href='/')
        img(src='/images/icon-opt-two.png' alt='logo' class='logo')
      label(for='toggle')  &#9776;
      input(type='checkbox' id='toggle')
      div(class='menu-hamburger')
        a(href='/') Home
        a(href='/accounts') Account
        - var showSignin = true;
        if !session.user_id && showSignin === true
            a(href='/signin') 
              span(class='signin-signout-color') Sign in
        else
            a(href='/users/logout') 
              span(class='signin-signout-color') Sign out

  div(class='body')
    block content