extends layout

block content
    div(class='banner')
      block banner  
        img(src='/images/register-banner.png' alt='register banner' class='banner')
    
    div.text-center
        form(class="form-signin" method="POST" action="/users/register")
            #error
                if error
                    p.text-danger= error

            h1(class='color-prompt') Register

            |Select Security Question
            select(class="form-control" name='SecurityQuestion')
                option(id='0', selected= true) -- Select --
                option(id='1') What was the house number and street name you lived in as a child?
                option(id='2') What primary school did you attend?
                option(id='3') In what city or town was your first job?

            //-input Security Answer
            label( for="inputSecurityAnswer" class="sr-only") Answer
            input(type="sAnswer" name="SecurityAnswer" id="inputSecurityAnswer" class="form-control" placeholder="Answer" required)

            //-input first name
            label( for="inputFirstName" class="sr-only") First Name
            input(type="fname" name="firstName" id="inputFirstName" class="form-control" placeholder="First Name" required autofocus)

            //-input last name
            label( for="inputLastName" class="sr-only") Last Name
            input(type="lname" name="lastName" id="inputLastName" class="form-control" placeholder="Last Name" required)

            //-input email
            label( for="inputEmail" class="sr-only") Email address
            input(type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required)

            //-input username
            label( for="inputUsername" class="sr-only") Username
            input(type="username" name="username" id="inputUsername" class="form-control" placeholder="Username" required)                        

            //-input password
            label( for="inputPassword" class="sr-only") Password
            input(type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required)

            //-input Verify password
            label(for="inputVPassword" class="sr-only") Verify Password
            input(type="Password" name="vPassword" id="inputVPassword" class="form-control" placeholder="Verify Password" required)

            //-Register button
            button(class='button-style' type="submit") Register