extends layout

block content
    div(class='banner')
          block banner  
            img(src='/images/signin-banner.png' alt='sign in banner' class='banner')
    div.text-center
        form(class="form-signin" method="POST" action="/users/login")
            #error
                if error
                    p.text-danger= error

            h1(class='color-prompt') Please sign in

            //-input email
            label( for="inputUsername" class="sr-only") Username
            input(type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus)

            //-input password
            label(for="inputPassword" class="sr-only") Password
            input(type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required)

            a(href='/register' class='link-style') Register

            //-signIn button
            button(class='button-style' type="submit") Sign in