@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Quicksand:wght@500&display=swap');

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

a {
  color: #00B7FF;
}

.topnav {
  border-bottom: 1px solid #eaeaeb;
  text-align: right;
  height: 70px;
  line-height: 70px;
  background: white;
  z-index: 5;
  width: 100%;
}

.menu-hamburger {
  margin: 0 30px 0 0;
}

.menu-hamburger a {
  clear: right;
  text-decoration: none;
  color:gray ;
  margin: 0 50px;
  line-height: 70px;
  background: white;
}

.signin-signout-color {
  color: maroon;
}

.menu-hamburger a:hover {
  color: black;
}

.menu-hamburger a span:hover {
  color: black;
}

label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
}

#toggle {
  display:none;
}

#red, #blue, #purple, #green, #yellow {
  display: none;
}

.colorSelection {
  display: none;
}

@media only screen and (max-width: 700px) {
  label {
    display: block;
    cursor: pointer;
  }

  .topnav {
    position: absolute;
  }

  .menu-hamburger {
    text-align: center;
    width: 100%;
    display: none;
  }

  .menu-hamburger a {
    display: block;
    border-bottom: 1px solid #eaeaeb;
    margin: 0;
  }

  #toggle:checked + .menu-hamburger {
    display: block;
  }

  .body {
    position: relative;
    top: 70px; /*height of nav*/
  }
}

.logo {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 3px;
  left: 3px;
  width: 70px;
  float: left;
}

/* Form styling */
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.button-style {
  background-color: #e7e7e7; 
  color: black;
  width: 100px;
  height: 40px;
  font-size: 16px;
  margin: 10px;
  border: none;
  border-radius: 5px;
}

.link-style {
  background-color: #e7e7e7; 
  color: black;
  font-size: 16px;
  width: 100px;
  height: 40px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  padding: 9px 20px 9px 20px;
}

.button-style:hover {
  background-color: #cfcfcf; 
}

.link-style:hover {
  background-color: #cfcfcf;
  color: black;
  text-decoration: none;
}

.banner {
  width: 100%;
}

.color-prompt {
  margin-top: 30px;
  margin-bottom: 30px;
  color: gray;
  font-family: 'Merriweather', serif;
}

.color-prompt-two
{
  width: 50%;
  color: gray;
  margin: 0 auto;
  padding-bottom: 20px;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 49%;
  height: 200px;
}

table {
  margin-bottom: 100px;
}

td {
  width: 100px;
  height: 100px;
  border: 1px dotted black;
}

.center-table {
  margin-left: auto;
  margin-right: auto;
}

.colors {
  margin: 20px;
}

.color-size { 
  width: 50%;
}

.accordion {
  background-color: none;
  color: #444;
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: rgb(243, 243, 243);
}

.panel {
  padding: 0 18px;
  background-color: rgb(243, 243, 243);;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.responsive-image {
  width: 100%;
}

.color-window {
  width: 40%;
  margin: 0 auto;
}

.selected {
  height: auto;
}

/* colors */
.red {
  color: red;
  font-size: 25px;
}

.blue {
  color: blue;
  font-size: 25px;
}

.purple {
  color: purple;
  font-size: 25px;
}

.green {
  color: green;
  font-size: 25px;
}

.yellow {
  color: gold;
  font-size: 25px;
}

.avatar {
  max-width: 60%;
  max-height: 60%;
}

.inline {
  display: inline-block;
}

td img {
  width: 70%;
  height: 70%;
}

input {
  margin: 10px 0 10px 0;
  border-radius: 5px;
}